<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daily.expenses"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_vault"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.daily.expenses.RecordListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daily.expenses.RecordDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecordListActivity" />
        </activity>

        <provider
            android:name="com.daily.expenses.contentprovider.DailyContentProvider"
            android:authorities="com.daily.expenses.contentprovider" >
        </provider>

        <activity
            android:name="com.daily.expenses.RecordInsertActivity"
            android:label="@string/title_activity_item_insert" >
        </activity>
        <activity
            android:name="com.daily.expenses.ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name="com.daily.expenses.Grid"
            android:label="@string/title_activity_grid" >
        </activity>
        <activity
            android:name="com.daily.expenses.GraphsActivity"
            android:label="@string/title_activity_graphs"
            android:parentActivityName="com.daily.expenses.RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daily.expenses.RecordListActivity" />
        </activity>
        
        <activity
            android:name="com.daily.expenses.AboutActivity" 
            android:label="@string/title_activity_about"
            android:parentActivityName="com.daily.expenses.RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daily.expenses.RecordListActivity" />
        </activity>
        
        <activity
            android:name="com.daily.expenses.PreferencesActivity" 
            android:label="@string/title_activity_about"
            android:parentActivityName="com.daily.expenses.RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daily.expenses.RecordListActivity" />
        </activity>
        
  		<activity android:name="org.achartengine.GraphicalActivity" />
    </application>


</manifest>